---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Stats from "../components/Stats.astro";
---

<BaseLayout title="Antonio Traversa">
  <Fragment slot="header"><Header /></Fragment>

  <div class="flex flex-col md:flex-row min-h-screen p-8 gap-8">

    <!-- Colonna sinistra: Hero + About  -->
    <div class="flex flex-col items-start gap-4 md:w-1/5">
      <Hero />
      <div class="w-full line-animated my-4"></div>
      <About />

    </div>

    <!-- Linea verticale -->
    <div class="hidden md:block w-px bg-gradient-to-b from-transparent via-gray-500/40 to-transparent mx-4"></div>

    <!-- Colonna destra: Projects + Stats più larga -->
    <div class="flex flex-col justify-start items-start gap-12 md:w-4/5">
      <Projects />
      <Stats />
    </div>

  </div>

  <Fragment slot="footer"><Footer /></Fragment>
</BaseLayout>
