<section class="text-left  bg-transparent">
  <div class="container-max flex flex-col items-start">
    <!-- Immagine del profilo -->
    <img 
      src="/travy333/assets/pp.jpg" 
      alt="Antonio Traversa" 
      class="w-40 h-40 rounded-full border-4 border-primary mb-6 object-cover animate-fadeIn"
    />

    <!-- Nome -->
    <h1 class="text-5xl font-bold mb-2 text-primary animate-fadeIn">Antonio Traversa</h1>

    <!-- Frase in corsivo -->
    <p class="text-gray-300 italic mb-8 text-lg max-w-2xl  animate-fadeIn delay-200">
      Credo nell'eleganza della semplicità<br>
      per risolvere problemi complessi.
    </p>
    
    <div class="flex gap-6 animate-fadeIn delay-400">

    <a href="https://www.cprogramming.com/" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/c/c-original.svg" alt="c" width="40" height="40"/></a>
    <a href="https://isocpp.org/" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/cplusplus/cplusplus-original.svg" alt="cplusplus" width="40" height="40"/></a>
    <a href="https://www.java.com" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/java/java-original.svg" alt="java" width="40" height="40"/></a>
    <a href="https://dart.dev" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/dart/dart-original.svg" alt="dart" width="40" height="40"/></a>
    <a href="https://flutter.dev" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/flutter/flutter-original.svg" alt="flutter" width="40" height="40"/></a>
    <a href="https://www.w3.org/Style/CSS/Overview.en.html" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="40" height="40"/></a>
    <a href="https://astro.build" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/astro/astro-original.svg" alt="Astro" width="40" height="40"/>
</a>
  </a>
  </div>
  </div>
</section>
