---
import ProjectCard from "./ProjectCard.astro";
---

<section id="projects" class="w-full py-12 text-gray-100">
  <div class="container mx-auto px-6 flex flex-col items-center text-left">
    <h1 class="text-4xl font-bold text-primary mb-10 animate-fadeIn">
      My Projects
    </h1>

    <!-- Griglia con distanza maggiore tra le card -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-12 gap-y-16 justify-items-start animate-fadeIn">
      <ProjectCard
        title="TravyPlay"
        description="Media center in Flutter per gestire musica, video, IPTV e libri"
        repo="https://antoniotraversa.github.io/antoniotraversa/travyplay/"
      />
      <ProjectCard
        title="TravyTrip"
        description="Un innovativo social network basato sui viaggi."
        repo="https://antoniotraversa.github.io/antoniotraversa/travytrip/"
      />
      <ProjectCard
        title="Inventory System"
        description="Sistema di inventario riutilizzabile, compatibile con Unreal Engine 5."
        repo="https://antoniotraversa.github.io/antoniotraversa/inventorysystem/"
      />
      <ProjectCard
        title="Weapon System"
        description="Classi per definire armi e munizioni, meccaniche di sparo, ricarica e  tanto altro. Compatibile con Unreal Engine 5."
        repo="https://antoniotraversa.github.io/antoniotraversa/weaponsystem/"
      />
      <ProjectCard
        title="Advanced Metahuman Player"
        description="Standard player riutilizzabile che utilizza Metahumans super fedeli, ottimizzati per il gaming."
        repo="https://antoniotraversa.github.io/antoniotraversa/advancedmetahumanplayer/"
      />
      <ProjectCard
        title="True Weather System"
        description="Simulazione realistica del ciclo giorno-notte e delle condizioni atmosferiche in Unreal Engine, con gestione di tempo reale o scalabile e calendario completo giorno/mese/anno."
        repo="https://antoniotraversa.github.io/antoniotraversa/trueweathersystem/"
      />
    </div>
  </div>
</section>
