---
import '../styles/global.css';
const { title } = Astro.props;
---

<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Antonio Traversa{title ? ` | ${title}` : ''}</title>
  </head>
  <body class="bg-split text-gray-100 font-sans">
    <slot name="header" />

    <main class="min-h-screen">
      <slot />
    </main>

    <slot name="footer" />
  </body>
</html>
